.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user-profile{
  display: flex;
  justify-content: space-evenly;
}
.score-card{
  display: flex;
  justify-content: space-between;
}
.reply{
  display: flex;
  justify-content: space-between;
  width: 25%;
}
h2,h4{
  margin: 0;
}
body{
  font-size: 16px;
  background:hsl(228, 33%, 97%);
}
.comment-container{
  padding: 1em;
margin: 3em .5em;
background: white;
}
.score-calc{
  display:flex;
  justify-content: space-around;
  background:hsl(228, 33%, 97%);
  width: 30%;
}
.reply-container{
  background:white;
    padding: 1em;
  margin: 2em .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
p{
  text-align: left;
}
#reply-text{
  color:  hsl(238, 40%, 52%);
}
input{
  width: 85%;
  height: 70px;
}
.low-box{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.comment-box{
  padding: 1em;
  margin: 2em .5em;
  background:white;

}
#myBtn,#send-btn{
  color: hsl(223, 19%, 93%);
  background:hsl(238, 40%, 52%);
  padding: .5em .5em;
  height: 50%;
  border-radius: .5em;
}
.Modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}
.Modal-content {
  background-color: #ffffff;
  margin:   3em auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 80%;
  width: 100%;
  height: 40%;
}
.ModalOpen { overflow: hidden; }
.is-hidden { display: none; }
.is-visuallyHidden { opacity: 0; }

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.Close {
  color: #aaaaaa;
  float: right;
  font-size: 16px;
}
.Close:hover, .Close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}   
.container{
  max-width: 768px;
  margin: auto;
}
#you-tag{
  color: white;
  background:hsl(238, 40%, 52%);
  padding: .5em;
height: 50%;
}
.posted-comment{
  display:flex;
  
}